.login-container {
    height: 100vh;
    background: linear-gradient(135deg, #ff6b00, #ffb347);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    width: 350px;
    border-radius: 12px;
  }