<div class="container mt-4">

  <h3>Checkout</h3>

  <div class="mb-3">
    <button class="btn me-2"
            [ngClass]="orderType === 'delivery' ? 'btn-primary' : 'btn-outline-primary'"
            (click)="orderType = 'delivery'">
      Delivery
    </button>

    <button class="btn"
            [ngClass]="orderType === 'pickup' ? 'btn-success' : 'btn-outline-success'"
            (click)="orderType = 'pickup'">
      Pickup
    </button>
  </div>

  <input *ngIf="orderType === 'delivery'"
         class="form-control mb-3"
         placeholder="Enter address"
         [(ngModel)]="address">

  <div *ngFor="let item of cartItems">
    {{ item.name }} x {{ item.quantity }} = ₹ {{ item.price * item.quantity }}
  </div>

  <hr>

  <h4>Total: ₹ {{ total }}</h4>

  <button class="btn btn-success w-100 mt-3"
          (click)="placeOrder()">
    Place Order
  </button>
  <button (click)="payNow()">
    Pay ₹500
  </button>

</div>