.auth-container {

    min-height: 100vh;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    background:
      linear-gradient(
        135deg,
        #ff6b00,
        #ff9f43
      );
  
    padding: 20px;
  
  }
  
  .auth-card {
  
    width: 100%;
  
    max-width: 420px;
  
    background: white;
  
    padding: 32px;
  
    border-radius: 20px;
  
    box-shadow:
      0 10px 30px rgba(0,0,0,0.12);
  
  }
  
  h1 {
  
    margin-bottom: 10px;
  
    color: #ff6b00;
  
  }
  
  p {
  
    color: #777;
  
    margin-bottom: 25px;
  
  }
  
  .form-group {
  
    margin-bottom: 18px;
  
  }
  
  label {
  
    display: block;
  
    margin-bottom: 8px;
  
    font-weight: 600;
  
  }
  
  input,
  select {
  
    width: 100%;
  
    padding: 14px;
  
    border-radius: 12px;
  
    border: 1px solid #ddd;
  
    font-size: 15px;
  
  }
  
  button {
  
    width: 100%;
  
    padding: 14px;
  
    border: none;
  
    border-radius: 12px;
  
    background: #ff6b00;
  
    color: white;
  
    font-size: 16px;
  
    font-weight: 600;
  
    cursor: pointer;
  
  }
  
  .error {
  
    color: red;
  
    margin-bottom: 15px;
  
  }
  
  .bottom-link {
  
    text-align: center;
  
    margin-top: 20px;
  
  }