<nav class="bottom-nav">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
  
      <i class="bi bi-house"></i>
  
      <span>
        Home
      </span>
  
    </a>
  
    <a
      routerLink="/available-orders"
      routerLinkActive="active"
    >
  
      <i class="bi bi-bag"></i>
  
      <span>
        Orders
      </span>
  
    </a>
  
    <a
      routerLink="/my-deliveries"
      routerLinkActive="active"
    >
  
      <i class="bi bi-truck"></i>
  
      <span>
        Active
      </span>
  
    </a>
  
  </nav>